<h2>Register</h2>

<!--

<form (ngSubmit)="register()">
  <div class="form-group">
    <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control"  required>
  </div>
  <div class="form-group">
    <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control"  required>
  </div>
  <div class="form-group">
    <input type="text" name="username" [(ngModel)]="user.username" class="form-control"  required>
  </div>
  <div class="form-group">
    <input type="password" name="password" [(ngModel)]="user.password" class="form-control"  required>
  </div>
  <div class="alert alert-warning">
    <pre>{{user|json}}</pre>
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Register</button>
  </div>
</form> -->