<h2>Create new User</h2>
<div class="row">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" class="form-control">
      <app-validation-message [control]="userForm.controls.firstName" [fieldTitle]="'First Name'">
      </app-validation-message>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control">
      <app-validation-message [control]="userForm.controls.lastName" [fieldTitle]="'Last Name'">
      </app-validation-message>
    </div>
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" formControlName="userName" class="form-control" deb>
      <!-- <app-validation-message [control]="userForm.controls.userName" [fieldTitle]="'User Name'"></app-validation-message> -->
      <!-- <app-spinner *ngIf="model.pending"></app-spinner> -->
      <!-- <div *ngIf="userForm.controls.userName.pending">Validating...</div>
      <div *ngIf="userForm.controls.userName.invalid" class="alert alert-danger alter-ego-errors">
        <div *ngIf="userForm.controls.userName.errors?.uniqueUserName">
          Alter ego is already taken.
        </div>
      </div> -->

      <div *ngIf="userForm.controls.userName.pending">
        Checking...
      </div>
      <div *ngIf="userForm.controls.userName.valid">
        😺 Username is available!
      </div>
    
      <div *ngIf="userForm.controls.userName.errors?.uniqueUserName">
        😢 Oh noes, this username is already taken!
      </div>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" formControlName="password" class="form-control">
      <app-validation-message [control]="userForm.controls.password" [fieldTitle]="'Password'"></app-validation-message>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="text" formControlName="confirmPassword" class="form-control">
      <app-validation-message [control]="userForm.controls.confirmPassword" [fieldTitle]="'Confirm Password'">
      </app-validation-message>
    </div>
    <div class="form-group">
      <label for="password">Email</label>
      <input type="text" formControlName="email" class="form-control">
      <app-validation-message [control]="userForm.controls.email"></app-validation-message>
    </div>
    <button class="btn btn-success">Submit</button>
  </form>
</div>